<h1>Home Page</h1>
<h2>Este proyecto contiene la estructura base para cualquier proyecto de Angular</h2>
<hr>
<ng-container *ngFor="let client of clients">
    <p>{{client.name}}</p>
</ng-container>
<hr>
<p>Puedes encontrar este y otros artículos en mi blog de <a href="https://bryanaguilar6174.medium.com/" target="_blank">Mediun</a></p>
<p>Puedes encontrar este y otros de mis proyectos en mi repositorio de <a href="https://github.com/bryanAguilar001" target="_blank">Github</a> o en mi perfil de <a href="https://www.linkedin.com/in/bryanaguilar6174/" target="_blank">LinkedIn</a>.</p>
